/* You can add global styles to this file, and also import other style files */
.component-name {
  text-align: right;
}

.container-component {
  border: 1px gray solid;
  padding: 10px;
  margin: 10px;
}
